.list {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px 0;
}

.header {
    margin: 10px 0;
}

.content {
    margin: 10px 0;
    width: 100%;
    max-width: 800px;
}