.list {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px 0;
    flex: 1 1 auto;
    width: 100%;
    background-color: white;
    z-index: 0;
}

.header {
    margin: 10px 0;
}

.content {
    margin: 10px 0;
    width: 100%;
    max-width: 800px;
}