body {
  margin: 0;
  padding: 0;
}
.main {
  padding-top: 54px;
  min-height: 100vh;
  padding-bottom: 20px;
  position: relative;
}
.app {
  font-family: sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .p-toolbar {
    padding: 8px;
  }
}
.footer {
  margin-top: -20px;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

.flex {
  display: flex;
}

.divider.divider-horizontal:before {
  border-top: 1px solid #dee2e6;
}

