body {
  margin: 0;
  padding: 0;
}
.app {
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
}
.main {
  display: flex;
  margin-top: 54px;
  flex: 1 1 auto;
  position: relative;
}
.header {
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .p-toolbar {
    padding: 8px;
  }
}
.footer {
  height: 20px;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

.flex {
  display: flex;
}

.p-divider.p-divider-horizontal::before {
  border-top: 1px solid #dee2e6;
}

.p-divider.p-divider-vertical::before {
  border-left: 1px solid #dee2e6;
}